.dog-grid-container {
  display: grid;
  grid-template-columns: 580px 580%;
  grid-template-rows: 580px 580px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  align-content: center;
  left: 0px;
  width: 50%;
  height: 350px;
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
}

.dog-grid-container img {
  max-width: 50%;
  max-height: auto;
  border-radius: 12%;
}

/* .grid-item {
  text-align: center;
  float: left;
} */

.appoint-grid-container{
  left: 0px;
  width: 50%;
  height: 50%;
}

.dog-info{
  width: 50%;
  text-align: center;
  height: auto;
  float: right;
}

.dog-info img{
  width: 50%;
  height: auto;
  border-radius: 12%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

h3 {
  right: 0px;
  width: 50%;
  float: right;
  text-align: center;
}

.comments-form {
  right: 0px;
  text-align: center;
  width: 50%;
}

.comment {
  right: 0px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.dog-comments-list {
  display: grid;
  grid-column: 270px;
  width: 230px;
  height: 200px;
  overflow-x: scroll;
  justify-content: center;
}

.make-appointments {
  float: right;

}
